// header
ion-header,
ion-header ion-toolbar {
  box-shadow: none;
  --background: white;
  --color: black;
}
.logo-marca-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0x;
}
.logo {
  width: 30px;
  height: 30px;
  margin: 10px 10px 10px 20px;
  padding: 0;
  border: none;
}
.marca {
  font-family: "Baloo2", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

// content
ion-content {
  --background: white;
}

#container-criar-conta {
  margin: 20px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#criar-conta-txt {
  font-size: 32px;
  color: black;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

#perfil-txt {
  font-size: 24px;
  color: black;
  font-weight: 200;
  margin: 0;
  line-height: 1.2;
}

#btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-perfil {
  height: 100px;
  width: 100px;
  margin: 15px;
  padding: 0;
}

//footer
ion-footer,
ion-footer ion-toolbar {
  box-shadow: none;
  --background: white;
  --color: black;
}
.footer-txt {
  text-align: center;
  font-size: 15px;
  color: black;
}

