<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="logo-marca-wrap">
      <ion-img src="assets/icon/logo.svg" class="logo"></ion-img>
      <ion-title class="marca">Dog Mate</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 class="cadastroPessoa">Informações de acesso</h3>
  <ion-item>
    <ion-input
      label="E-mail"
      label-placement="floating"
      fill="solid"
      placeholder=""
      [(ngModel)]="ong.emailOng"
      required
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      type="password"
      label="Senha"
      label-placement="floating"
      fill="solid"
      placeholder=""
      [(ngModel)]="ong.senhaOng"
      required
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      type="password"
      label="Repetir Senha"
      label-placement="floating"
      fill="solid"
      placeholder=""
      [(ngModel)]="ong.repetirSenhaOng"
      required
    ></ion-input>
  </ion-item>
  <br />

  <h3 class="informacoesPessoais">Informações da ONG</h3>
  <ion-item>
    <ion-input
      label="Nome da ONG"
      label-placement="floating"
      fill="solid"
      placeholder=""
      [(ngModel)]="ong.nomeOng"
      required
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="CNPJ"
      label-placement="floating"
      fill="solid"
      placeholder=""
      [(ngModel)]="ong.nomeOng"
      required
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="Localização"
      label-placement="floating"
      fill="solid"
      placeholder=""
      [(ngModel)]="ong.localizacaoOng"
      required
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      type="tel"
      pattern="[0-9]*"
      label="Telefone"
      label-placement="floating"
      fill="solid"
      placeholder="(DD)00000000"
      [(ngModel)]="ong.telefoneOng"
      required
    ></ion-input>
  </ion-item>
  <h3 class="responsabilidade">Responsabilidade</h3>
  <ion-item>
    <ion-checkbox labelPlacement="end" required
      >Me comprometo a promover assistência à Saúde, à alimentação, <br />
      ao lazer e à moradia do meu futuro pet.</ion-checkbox
    >
    <br />
  </ion-item>
  <br />
  <ion-item>
    <ion-button expand="full" (click)="adicionarOng()"
      >Finalizar Cadastro</ion-button
    >
  </ion-item>
</ion-content>
