<ion-header [translucent]="false">
  <ion-toolbar>
    <div class="logo-marca-wrap">
      <ion-img src="assets/icon/logo.svg" class="logo"></ion-img>
      <ion-title class="marca">Dog Mate</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container-criar-conta">
    <p id="criar-conta-txt">Bem-vindo</p>
    <p id="perfil-txt">{{ nomeAdotante }}</p>
    <div class="btn-wrap">
      <ion-button class="custom-button" [routerLink]="['/cadastra-ong']">
        <img class="btn-perfil" src="/assets/img/encontrar-cao.svg" alt="">
      </ion-button>
      <ion-button class="custom-button" [routerLink]="['/cadastra-adotante']">
        <img class="btn-perfil" src="/assets/img/matchs.svg" alt="">
      </ion-button>
      <ion-button class="custom-button" [routerLink]="['/cadastra-adotante']">
        <img class="btn-perfil" src="/assets/img/editar-perfil.svg" alt="">
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="footer-txt"
      >Dog Mate - Adoção responsável de cães</ion-title
    >
  </ion-toolbar>
</ion-footer>
