<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="logo-marca-wrap">
      <ion-img src="assets/icon/logo.svg" class="logo"></ion-img>
      <ion-title class="marca">Dog Mate</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- AVATAR -->
  <div class="center-avatar">
    <ion-avatar>
      <img
        *ngIf="!image"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
      />
      <img *ngIf="image" [src]="image" />
    </ion-avatar>
  </div>

  <ion-button (click)="selecionarFoto()"> + adicionar foto </ion-button>

  <!-- FINAL AVATAR -->

  <!-- FORMULÁRIO -->
  <ion-list>
    <h3 class="cadastroCao">Informações do cão</h3>
    <ion-item>
      <ion-input
        label="Nome do cão"
        label-placement="floating"
        fill="solid"
        placeholder=""
        [(ngModel)]="cao.nomeCao"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select
        label="Tipo de Pelagem"
        label-placement="floating"
        fill="solid"
        [(ngModel)]="cao.tipoPelagem"
      >
        <ion-select-option value="pelo-curto">Pelo Curto</ion-select-option>
        <ion-select-option value="pelo-longo">Pelo Longo</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input
        label="Idade estimada do cão"
        label-placement="floating"
        fill="solid"
        placeholder=""
        [(ngModel)]="cao.idadeEstimada"
        required
      ></ion-input>
    </ion-item>
    <h4 class="checkBoxCao">O cão é castrado?</h4>
    <ion-item>
      <ion-segment [(ngModel)]="cao.castrado">
        <ion-segment-button value="true">
          <ion-label>Sim</ion-label>
        </ion-segment-button>
        <ion-segment-button value="false">
          <ion-label>Não</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <h4 class="checkBoxCao">O cão é vermifugado?</h4>
    <ion-item>
      <ion-segment [(ngModel)]="cao.vermifugado">
        <ion-segment-button value="true">
          <ion-label>Sim</ion-label>
        </ion-segment-button>
        <ion-segment-button value="false">
          <ion-label>Não</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <h4 class="checkBoxCao">Vacinas estão em dia?</h4>
    <ion-item>
      <ion-segment [(ngModel)]="cao.vacinas">
        <ion-segment-button value="true">
          <ion-label>Sim</ion-label>
        </ion-segment-button>
        <ion-segment-button value="false">
          <ion-label>Não</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <h4 class="checkBoxCao">Gênero:</h4>
    <ion-item>
      <ion-segment [(ngModel)]="cao.sexo">
        <ion-segment-button value="m">
          <ion-label>Macho</ion-label>
        </ion-segment-button>
        <ion-segment-button value="f">
          <ion-label>Fêmea</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item>
      <ion-textarea
        label="Breve histórico do cão"
        label-placement="floating"
        fill="solid"
        placeholder="descreva em poucas palavras um breve histórico do cão"
        [(ngModel)]="cao.historico"
        required
      ></ion-textarea>
    </ion-item>
    <br />

    <ion-item>
      <ion-button expand="full" (click)="adicionarCao()"
        >Finalizar Cadastro</ion-button
      >
    </ion-item>
  </ion-list>
</ion-content>
